{%extends "layout.html"%}
{%block nav%}

        <a href="/" class="passive navlink" role="button">F1 Telemetry</a>
        <a href="/about" class="alive navlink">About</a>

{%endblock%}

{%block main%}
    <h1 class="about">Hi! Welcome to this mistake of a website!</h1>
    <div class="info">
    <p>This project is made after completing Harvard's CS50 course. The intention is to make a bot that takes my telemetry data
        (recorded through a simple system I made myself) and then upload it to this site, then it will compare my data with that of an
        F1 driver. I am sure that that will be a close contest and this exercise will do wonders for my self esteem when it comes to 
        racing games.
    </p>
    </div>
{%endblock%}