{%extends "layout.html"%}
{%block nav%}

    <a href="/" class="alive navlink"><div><p>F1 Telemetry</p></div> </a>
    <a href="/about" class="passive navlink"><div>About</div></a>
{%endblock%}

{%block main%}
    <div class="container mx-auto row gx-5" >
        <form action="/", method="get">
            <select class="dropdown form-select" name="season">
                <option disabled selected>Select season</option>
                {%for season in seasons%}
                    <option value="season">{{season}}</option>
                {%endfor%}
            </select>
            <input name="track" autocomplete="off" placeholder="Enter track name" class="form-control intrack">
            <select class="dropdown form-select" name="session">
                <option disabled selected>Select Session</option>
                {%for session in sessions%}
                    <option value="session">{{session}}</option>
                {%endfor%}
            </select>
            <input name="driver" autocomplete="off" placeholder="Enter driver name" class="form-control indriver">
        </form>
    </div>
    <div class="driver_telemetry telemetry">
        Driver telemetry goes here
    </div>
    <!-- Only add the below div if you have your own telemetry -->
    <div class="user_telemetry telemetry">
        Your telemetry goes here
    </div>
    

{%endblock%}