{%extends "layout.html"%}
{%block nav%}
<nav>
    <a href="/" class="btn btn-primary active"><div><p>F1 Telemetry</p></div> </a>
    <a href="/about" class="btn btn-primary passive"><div>About</div></a>
</nav>
    {%endblock%}

{%block main%}
    <div>
        <select class="dropdown" name="year">
        <option disabled selected>Select Year</option>
        {%for i in range(0, years|length)%}
            <option value="year">{{year}}</option>
        {%endfor%}
        </select>
    </div>
    {%if year%}
        <div>
            <select class="dropdown" name="track">
                <option disabled selected>Select Track</option>
                {%for i in range(0, tracks|length)%}
                    <option value="track">{{track}}</option>
                {%endfor%}
            </select>
        </div>
    {%endif%}
    {%if track%}
        <div>
            <select class="dropdown" name="driver">
                <option disabled selected>Select Driver</option>
                {%for i in range(0, drivers|length)%}
                    <option value="driver">{{driver}}</option>
                {%endfor%}
            </select>
        </div>
    {%endif%}
    <div class="driver_telemetry">
        Driver telemetry goes here
    </div>
    <!-- Only add the below div if you have your own telemetry -->
    <div class="user_telemetry">
        Your telemetry goes here
    </div>

{%endblock%}